

/* Start Page */
#start-game {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: 30vw;
    padding-right: 30vw;
    margin: auto;
}

#start-game > div > .loading-game-logo {
    padding-top: 8vh;
    margin: auto;
    display: flex;
}

#start-game > div > .loading-game-logo img {
    margin: auto;
    width: 80%;
}

.start-game-text {
    width: 100%;
    text-align: center;
    color: #121212;
}

.start-game-text-header {
    font-family: 'Kenney Mini Square';
    color: #f63a3d;
    font-size: 2rem;
    padding-bottom: 8vh;
}

.start-game-text-final {
    padding-top: 4vh;
    color: rgba(0, 0, 0, 0.5);
}
/* Start Page */